@import "variables";
@import "mixins";
.button{
    margin-top: 0%;
    padding: 1.5%;
    font-family:$font-2;
    color: $color-2;
    border: 1.5px solid $color-4; ;
    background-color: transparent;
    a{
        text-decoration: none;
        color: $color-2;
    }
}
.button:hover{
    transition: 0.5s;
    color: $color-2;
    background-color: $color-4-5;
    border: 1.5px solid $color-4;
    cursor: pointer;
}