@import "variables";
@import "mixins";

html {


  overflow-x: hidden;

}
body {

  font-family: $font-2;
  padding:  0 auto;


  background-color: $color-1;
  color: $color-2 ;

margin: 0;
  // responsive

  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;


  
  .logo-lp{
    list-style: none;
    text-decoration: none;
    color: $color-2;
  }
  .logo-lp:hover{
    
    color: $color-4;
  }

  h2 {
    text-align: center;
    font-size: 30px;
    margin: 0;
    font-weight: 300;
    color: inherit;
    padding: 50px;
  }

  .center {
    text-align: center;
  }
  
  section {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 10%;
    h1{
      text-transform: uppercase;
      font-weight: 400;
      display: flex;
      align-items: center;
      justify-content: space-between;
      white-space: nowrap;
      padding: 15px 0;
      position: relative;
      margin: 0;
      font-size: 25px;
      max-width: 50%;
      @include tablette-only{
          width: 60%;
      }
    }
    h1::after{
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      background: $color-2;
      right: 0;
      top: 50%;
      margin-left: 5%;
      position: relative;
      @include mobile-only{
          display: none;
      }
  }

  }



  
  

footer{
  position: absolute;
  left: 0;
  right: 0;
  background: #000;
  height: auto;
  width: 100vw;
  padding-top: 40px;
  color: #fff;
  align-items: center;

  .footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    h3{
      font-size: 2.1rem;
      font-weight: 500;
      text-transform: capitalize;
      line-height: 3rem;
      @include mobile-only{
        font-size: 1.5rem;
        line-height: 2rem;
      }
  }
    p{
      max-width: 500px;
      margin: 10px auto;
      line-height: 28px;
      font-size: 14px;
      color: #cacdd2;
      @include mobile-only{
        font-size: 12px;
        line-height: 20px;}
  }
    .socials{
      display: none;
      @include mobile-only{
        display: block;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1rem 0 3rem 0;

      li{
        margin: 0 10px;
    }
    a{
      text-decoration: none;
      color: #fff;
      border: 1.1px solid white;
      padding: 5px;
      border-radius: 50%;
      i{
        font-size: 1.1rem;
        width: 20px;
        transition: color .4s ease;
    }
  }
  a:hover i{
    color: $color-4;
}
}
}
 
}
.footer-bottom{
  background: #000;
  width: 100%;


  p{
    text-align: center;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;

 }

}

}
}

  