
// header
header{
font-family: $font-2;
display: flex;
justify-content: space-between;
align-items: center;
padding: 20px 20px;

background-color: $color-1;
position: fixed;
top: 0;
transition: top 0.2s ease-in-out;
width: 100%;
z-index: 100;
height: 40px;
box-shadow: 0 0 0.75rem rgb(3, 7, 47);
@include mobile-only{
  padding: 10px;
  width: 100%;
}
  /* NAVIGATION */
    .stroke {
      padding:40px;

      @include mobile-only {
        display: none;
      }
      ol {
        text-align: center;
        display: flex;
        li{
          list-style-position: inside;
          text-align: center;
          margin: 0 20px;
          a {
            text-decoration: none;
            color: $color-2;
            font-weight: 500;
          }
        }
  
      }
    }
    nav 
    nav 
    nav ol li 
    nav ol li ,
    nav ol li :after,
    nav ol li :before {
      transition: all .5s;
    }
    nav ol li :hover {
      color: $color-4;
    }

    nav ol li :active {
      color: $color-4;
    }

    
    /* stroke animation  */
    nav.stroke ol li a,
    nav.fill ol li a {
      position: relative;
    }
    nav.stroke ol li :after,
    nav.fill ol li :after {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      width: 0%;
      content: '.';
      color: transparent;
      background: $color-4;
      height: 1px;
    }
    nav.stroke ol li :hover:after {
      width: 100%;

    }
    nav.fill ol li {
      transition: all 2s;
    }
    nav.fill ol li :after {
      text-align: left;
      content: '.';
      margin: 0;
      opacity: 0;
    }
    nav.fill ol li :hover {
      color: transparent;
      z-index: 1;
    }
    nav.fill ol li :hover:after {
      z-index: -10;
      animation: fill 1s forwards;
      -webkit-animation: fill 1s forwards;
      -moz-animation: fill 1s forwards;
      opacity: 1;
    }
   }


// responsive menu


.responsive{
  display: none;
  @include mobile-only{
    display: block;
    padding-right: 5%;
  }
  #menuToggle{
    display: block;
    position: relative;
    top: 0;

    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
    input{
      display: block;
      width: 40px;
      height: 32px;
      position: absolute;
      top: 0;
      left: 0;
      cursor: pointer;
      opacity: 0; /* hide this */
      z-index: 2; /* and place it over the hamburger */
      -webkit-touch-callout: none;
    }
    span{
      display: block;
      width: 33px;
      height: 4px;
      margin-bottom: 5px;
      position: relative;
      background: $color-2;
      border-radius: 3px;
      z-index: 1;
      transform-origin: 4px 0px;
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                  background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                  opacity 0.55s ease;
    }
    span:first-child{
      transform-origin: 0% 0%;
    }
    span:nth-last-child(2){
      transform-origin: 0% 100%;
    }
    input:checked ~ span{
      opacity: 1;
      transform: rotate(45deg) translate(-2px, -1px);
      background: $color-1;
    }
    input:checked ~ span:nth-last-child(3){
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2);
    }
    input:checked ~ span:nth-last-child(2){
      opacity: 1;
      transform: rotate(-45deg) translate(0, -1px);
    }
}

#menu
 {
  position: absolute;
  width: 300px;
  height: 100vh;
  margin: -100px 0 0 -300px;
  padding: 50px;
  padding-top: 125px;
  background: $color-4;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  li{
    padding: 10px 0;
    font-size: 22px;
  }
  a{
    font-family: $font-2;
    text-decoration: none;
    color: $color-1;
    font-weight: 500;
  }
  a:hover{
    color: $color-5;
  }
}

#menuToggle input:checked ~ ol{
   transform: none;
 }
}