@import "variables";
@import "mixins";

.timeline-container{
    display: flex;
    align-items: center;
    height: 100%;
    margin-top: 15%;
    margin-bottom: 40%;
    transition: 0.5s;
    @include mobile-only{
        
        transform: rotate(-90deg); 
            height: 50vh;
    }


    .timeline{
        border-top: 2px solid $color-2;
        height: 2px;
        width: 100%;
    }
      .arrow-right {
        width: 0;
        height: 0;
        border-top: 21px solid transparent;
        border-bottom: 21px solid transparent;
        border-left: 21px solid $color-2;
        right: 10%;
        position: absolute;
        @include mobile-only{
            right: -1px;
        }
      }
      

    .steps{
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        width: 80%;
        margin: 0 auto;
        position: absolute;
        z-index: 2;
        
        @include mobile-only{
            width: 100%;
            margin-top: 25%;
            align-items: baseline;
            justify-content: space-between;

        }
        a{
            text-decoration: none;
            color: $color-2;
        }
        .step{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            width: 30%;
            height: 100%;
            
            h3{
                font-size: 1.2rem;
                text-transform: uppercase;
                margin: 5%;
                @include tablette-only{
                    font-size: 0.8rem;
                }
                @include mobile-only{
                    margin: 0;
                    font-size: 0.5rem;
                }
            }
            .text{
                font-size: 0.4rem;
                margin: 0;
                text-align: center;
                padding:  10px;
                @include tablette-only{
                    font-size: 0.05rem;
                }
                @include mobile-only{
                    font-size: 0.05rem;
                    font-family: $font-3;
                }

            }
            .vertical{
                border-left: 2px solid $color-2;
                height: 50px;
                align-self: center;
                
                @include tablette-only{
                    height: 20px;
                }
                @include mobile-only{
                   margin-top: 10%;
                }

            }
        }
        
    }
    .step:hover {
        cursor: pointer;
        .vertical{
            transition: 0.5s;
            border-left: 3.5px solid $color-2;
            height: calc(50px + 20px);
        }
        .text{
            font-size: 0.6rem;
            font-weight: 600;
            color: $color-4;
        }
        h3{
            color: $color-4;
        }


}

}