@import "variables";
@import "mixins";

.timeline-container{
    display: flex;
    align-items: center;
    height: 100%;
    margin-top: 15%;
    margin-bottom: 10%;
    transition: 0.5s;
    @include mobile-only{
        transform: rotate(-90deg); 
        height: 60vh;
        margin-top: 20%;
        margin-bottom: 20%;
    }


    .timeline{
        border-top: 2px solid $color-2;
        height: 2px;
        width: 100%;
        }
    }
      .arrow-right {
        width: 0;
        height: 0;
        border-top: 21px solid transparent;
        border-bottom: 21px solid transparent;
        border-left: 21px solid $color-2;
        right: 10%;
        position: absolute;
        @include mobile-only{
            right: -1px;
        }
      }
      

    .steps{
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        width: 80%;
        margin: 0 auto;
        position: absolute;
        z-index: 2;
        
        @include mobile-only{
            width: 100%;
            margin-top: 30%;


            
            align-items: baseline;
            justify-content: center;

        }
        a{
            text-decoration: none;
            color: $color-2;
        }
        .step{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            width: 30%;
            height: 100%;
            @include mobile-only{
                width: 100%;
            }
            h3{
                font-size: 1.2rem;
                text-transform: uppercase;
                margin: 5%;
                @include tablette-only{
                    font-size: 0.8rem;
                }
                @include mobile-only{
                    transform: rotate(90deg);

                    font-size: 0.5rem;
                    width: 100%;
                    padding-right: 40%;
                }
            }
            .text{
                font-size: 0.7rem;
                margin: 0;
                text-align: center;
                padding:  10px;
                font-weight: 100;
                align-items: baseline;
                @include tablette-only{
                    font-size: 0.5rem;
                }
                @include mobile-only{
                    transform: rotate(90deg);
                    font-size: 0.7rem;
                    font-weight: 500;
                    font-family: $font-3;
                    margin-top: 30%;
                    margin-bottom: 0;
                    width: 100%;
                    height: 100%;
                    padding-right: 30%;
                    text-align: left;
                    

                }

            }
            .vertical{
                border-left: 2px solid $color-2;
                height: 50px;
                align-self: center;
                
                @include tablette-only{
                    height: 20px;
                }
                @include mobile-only{
                   margin-top: 30%;
                   height: 30px;
                }

            }
        }
        
    }
    .step:hover {
        cursor: pointer;
        .vertical{
            transition: 0.5s;
            border-left: 3.5px solid $color-2;
            height: calc(50px + 20px);
            @include mobile-only{
                height: calc(20px + 40px);
            }
        }
        .text{
            font-size: 1rem;
            font-weight: 600;
            color: $color-4;
            @include tablette-only{
                font-size: 0.7rem;
            }
        }
        h3{
            color: $color-4;
        }


}

